.Quotes{
    display: flex;
    flex-direction: column;
    gap: 0px;
    height:100vh ;
    
}
.Quotes .content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  overflow-y: auto;
  box-sizing: border-box;
  height: calc(100vh - 80px);
}
.content::-webkit-scrollbar {
    background-color: transparent; 
    width: 12px;

  }
 
  .content::-webkit-scrollbar-track {
    background:  transparent; 
  }
  
 
  .content::-webkit-scrollbar-thumb {
      background: #E8EDF2;
      border-radius: 20px;
      transition: background 3s;
      
}
  

  .content::-webkit-scrollbar-thumb:hover {
    background: #0D062D; 
    
}

.Quotes .tags {
    display: flex;
    gap: 5px;
    
}
.Quotes h1 {
    font-size: 46px;
    color: #1B153A;
}



.Quotes .tag {
    background-color: #E8EEF2;
    border-radius: 50px;
    padding: 2px 5px;

}
.Quotes .tag h1 {
    color: #1B153A;
    font-size: 12px;
    padding: 0px;
    
   

}
.slections {
    display: flex;
    align-items: center;
}
.Quotes .content .slections button  {
    height: 48px;
    width: 48px;
    border-radius: 8px;
    border: none;
    background-color:#F1EFFD ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Quotes .content .slections button:hover  {
   background-color:#e3dffb ;
}
.Quotes .content .slections button img  {
    height: auto;

    width: 80%;
}



/* Quotes list  */


.QuotesL{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.quote{
    background-color: #F7FAFC;
    display: flex; 
    height:72px ;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px;
}
.quote:hover{
    background-color:#f1efff ;
}
.quote .img{
    height: 48px;
    width: 48px;
    border-radius: 8px;
    background-color: #E8EDF2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.quote .info {
    flex: 90;
    
}
.quote .info h3{
    color:#4F7396 ;
    font-size:14px ;
}

